<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75391372358-bjn7e4eh0ve9p9l2m8cvh3fqrac4vas0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75391372358-bjn7e4eh0ve9p9l2m8cvh3fqrac4vas0</string>
	<key>API_KEY</key>
	<string>AIzaSyD6qn9Grn-tmznSx2RefRzDdoVT8yxtcFk</string>
	<key>GCM_SENDER_ID</key>
	<string>75391372358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleProject</string>
	<key>PROJECT_ID</key>
	<string>taskcraft-417310</string>
	<key>STORAGE_BUCKET</key>
	<string>taskcraft-417310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75391372358:ios:537030fe60d840f78d4e47</string>
</dict>
</plist>